@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
body{
    text-align: center;
    background-color: rgba(100, 104, 100, 0.233);
}
div{
    font-family: Outfit;
    margin-left: 15cm;
    margin-top:1.5cm;
    background-color: white;
    border-radius: 20px;
    width: 270px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 400,700;
}
img{
    padding: 10px;
    border-radius: 20px;
}